<%= form_for business, :url => url do |f| %>
  <label>Select category: </label>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %><br /><br />
  <label>Where is this business located?</label>
  <%= f.collection_select :location_id, Location.all, :id, :full_location, include_blank: true %><br />
  <label>Or enter new location here: </label><br />
    <%= f.fields_for :location_attributes do |location| %>
      <%= location.text_field :city, :placeholder => "City" %>
      <%= location.text_field :state, :placeholder => "State" %>
      <%= location.text_field :country, :placeholder => "Country" %>
    <% end %><br /><br />

  <%= f.text_field :name, :placeholder => "Name of business..." %>
  <%= f.text_field :price_range, :size => "28", :placeholder => "Price range e.g. $, $$, $$$..." %><br /><br />
  <%= f.text_area :description, :size => "48x5", :placeholder => "Description..."%><br />

  <%= f.label "Enter cryptocurrencies accepted: " %><br />
  <%= f.fields_for :crypto_attributes do |crypto| %>
    <%= crypto.collection_check_boxes :ids, Crypto.all, :id, :name, { checked: business.crypto_ids },
    { item_wrapper_class: 'checkbox_container'} %>
  <% end %><br /><br />

  <%= f.check_box :discount_offered, :checked => false %>
  <%= f.label "Discounts/specials offered for crypto payments?" %><br />

  <%= f.submit %>
<% end %>
