<div class="">
  <% if !!flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

<h1><%= @business.name %></h1>

<div class="">
  <label>Price Range: </label>
  <%= @business.price_range %><br />
  <label>Description: </label>
  <%= @business.description %><br />
  <label>Location: </label>
  <%= @business.location.city %><br />
  <label>Cryptocurrencies accepted: </label><br />
  <ul>
    <% @business.cryptos.each do |c| %>
      <li><%= c.name %></li>
    <% end %>
  </ul>
  <label>Discounts/specials offered for crypto payments? </label>
  <%= "#{@business.discount_offered}".capitalize %>
</div><br />

<div class="">
  <%= link_to "Delete Business", biz_path(@business), :method => :delete, :confirm => "Are you sure?" %> |
  <%= link_to "Edit Information", edit_biz_path(@business) %> |
  <%= link_to "View #{@business.name}'s Reviews", biz_reviews_path(@business) %> |
  <%= link_to "Add Review for #{@business.name}", new_biz_review_path(@business, @review) %>
</div>
