<h1>All Reviews</h1>

<div class="">
  <ul>
    <% @reviews.each do |r| %>
      <li>
        <h4><%= link_to "#{r.title}", biz_review_path(Business.find_by(id: r.business_id), r) %></h4>
        <%= r.comment %>
        <% if r.would_recommend %>
          <p><%= "#{display_email r} recommends this business. #{display_rating r}" %></p>
        <% else %>
          <p><%= r.user.email %> does not recommend this business.</p>
        <% end %>
        <label>User paid in</label>
        <%= r.crypto.name %><br />
      </li>
    <% end %>
  </ul>
</div>
