<% if review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(review.errors.count, "error") %> prohibited this post from being saved
    </h2>

    <ul>
      <% review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form_for review, :url => url do |f| %>
    <% if !params[:biz_id] %>
      <div>
        <label>Which business are you reviewing?</label>
        <%= f.collection_select :business_id, Business.all, :id, :name, include_blank: true %><br /><br />
        <label>Or enter new business here: </label><br />
          <% # Have to make nested form %>
          <%= f.fields_for :businesses_attributes do |business| %>
            <%= label :category_id, "Select category: " %>
            <%= business.collection_select :category_id, Category.all, :id, :name, include_blank: true %><br />
            <%= business.text_field :name, :size => "50", :placeholder => "Enter name of business here..." %><br />
            <%= business.text_field :price_range, :size => "50", :placeholder => "Price range e.g. $, $$, $$$..." %><br />
            <%= business.text_area :description, :size => "48x5", :placeholder => "Description of goods and services..." %><br />
            <label>Select location: </label>
            <%= business.collection_select :location_id, Location.all, :id, :city %>
            <%= business.check_box :discount_offered, :checked => true %>
            <%= label :discount_offered, "Discount offered for crypto payments?" %>
          <% end %>
      </div><br />
    <% end %>
    <div>
      <%= f.text_field :title, :placeholder => "Your review title here...", :size => "50x" %><br /><br />
    </div>
    <div>
      <%= f.text_area :comment, :placeholder => "How was your experience?", :size => "48x18" %><br />
    </div>
    <div>
      <label>Which cryptocurrency did you pay in?</label>
      <%= f.collection_select :crypto_id, Crypto.all, :id, :name, include_blank: true %><br />
      <label>Or enter coin/token here: </label>
      <%= f.fields_for :cryptos do |crypto| %>
        <%= crypto.text_field :name_1 %>
        <% # What if I want to add fields as I go? %>
      <% end %>
    </div>
    <div>
      <%= f.check_box :would_recommend, :checked => true %>
      <%= label :would_recommend, "Check, if you'd recommend this place to a friend." %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
  <% end %>
</div>
