<%= render 'layouts/errors', :variable => review %>

<div>
  <%= form_for review, :url => url do |f| %>
    <% if !params[:biz_id] %>
      <div>
        <label>Which business are you reviewing?</label>
        <%= f.collection_select :business_id, Business.order_by_name, :id, :name, include_blank: true %><br /><br />
        <label>Or enter new business here: </label><br />
          <% # Have to make nested form %>
          <%= f.fields_for :businesses_attributes do |business| %>
            <%= label :category_id, "Select category: " %>
            <%= business.collection_select :category_id, Category.order_by_name, :id, :name, include_blank: true %><br />
            <%= business.text_field :name, :size => "50", :placeholder => "Enter name of business here..." %><br />
            <%= business.text_field :price_range, :size => "50", :placeholder => "Price range e.g. $, $$, $$$..." %><br />
            <%= business.text_area :description, :size => "48x5", :placeholder => "Description of goods and services..." %><br />
            <label>Select location: </label>
            <%= business.collection_select :location_id, Location.order_by_city, :id, :full_location,  include_blank: true %><br />
            <label>Or enter new location here: </label><br />
              <%= business.fields_for :location_attributes do |location| %>
                <%= location.text_field :city, :placeholder => "City" %>
                <%= location.text_field :state, :placeholder => "State/Province" %>
                <%= location.text_field :country, :placeholder => "Country" %>
              <% end %><br /><br />
            <%= business.check_box :discount_offered, :checked => false %>
            <%= label :discount_offered, "Discount offered for crypto payments?" %><br /><br />
            <%= label :crypto_ids, "Check all that apply:" %><br />
            <%= business.collection_check_boxes :crypto_ids, Crypto.all, :id, :name,
            { item_wrapper_class: 'checkbox_container'} %>
          <% end %>
      </div><br />
    <% end %>
    <div>
      <%= f.text_field :title, :placeholder => "Your review title here...", :size => "50x" %><br /><br />
    </div>
    <div>
      <%= f.text_area :comment, :placeholder => "How was your experience?", :size => "48x18" %><br />
    </div>
    <div>
      <label>How would you rate your experience? </label>
      <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last %>
    </div>
    <div>
      <label>Which cryptocurrency did you pay in?</label>
      <%= f.collection_select :crypto_id, Crypto.all, :id, :name, include_blank: true %><br />
    </div>
    <div>
      <%= f.check_box :would_recommend, :checked => true %>
      <%= label :would_recommend, "Check, if you'd recommend this place to a friend." %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% if params[:biz_id] %>
      <%= f.hidden_field :business_id, :value => Business.find_by(id: params[:biz_id]).id %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
