<% if review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(review.errors.count, "error") %> prohibited this post from being saved
    </h2>

    <ul>
      <% review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form_for review do |f| %>
    <div>
      <label>Which business are you reviewing?</label>
      <%= f.collection_select :business_id, Business.all, :id, :name, include_blank: true %><br /><br />
      <label>Or enter new business here: </label>
      <%= render 'businesses/form' %><br /><br />
        <% # How do I set review[:business_id] to a newly created business? %>
    </div>
    <div>
      <%= f.text_field :title, :placeholder => "Your review title here...", :size => "50x" %><br /><br />
    </div>
    <div>
      <%= f.text_area :comment, :placeholder => "How was your experience?", :size => "48x18" %><br />
    </div>
    <div>
      <label>Which cryptocurrency did you pay in?</label>
      <%= f.collection_select :crypto_id, Crypto.all, :id, :name, include_blank: true %><br />
      <label>Or enter coin/token here: </label>
      <%= f.fields_for :cryptos do |crypto| %>
        <%= crypto.text_field :name_1 %>
        <% # What if I want to add fields as I go? %>
      <% end %>
    </div>
    <div>
      <%= f.radio_button :would_recommend, :checked => true %>
      <%= label :would_recommend, "Check, if you'd recommend this place to a friend." %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
  <% end %>
</div>
