<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2><%= @review.title %></h2>

<div>
  <%= @review.comment %><br /><br />
  <%= display_rating @review %><br />

  <% # DRY code. Separate if statement below into helper? %>
  <% if @review.would_recommend %>
    <p><%= "#{display_email @review} recommends this business." %></p>
  <% else %>
    <p><%= @review.user.email %> does not recommend this business.</p>
  <% end %>

  <p>User paid in <%= @review.crypto.name %>.</p>
</div><br />

<%= display_edit_link @review %> |
<%= display_delete_link @review %> |
<%= display_all_link @review %>
