<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2><%= @review.title %></h2>

<div>
  <%= @review.comment %><br /><br />
  <%= display_rating @review %>
  <% # binding.pry %>
</div><br />

<% if current_user == @review.user %>
  <%= link_to "Edit Review", edit_biz_review_path(@business, @review) %> |
  <%= link_to "Delete", biz_review_path(@business, @review), :method => :delete, :confirm => "Are you sure?" %> |
  <%= link_to "See all #{@business.name}'s reviews", biz_reviews_path(@business) %>
<% end %>
