<% stylesheet_link_tag "nav" %>

<header>
  <nav role="navigation">
    <ul id="menu-horizontal">
      <li><%= link_to "Biz Index", biz_index_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <% if !current_user %>
        <li class ="user-links"><%= link_to "Sign In", new_user_session_path %></li>
      <% else %>
        <li class="user-links"><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></li>
        <li class="user-links"><%= link_to "#{current_user.email}", edit_user_registration_path %></li>
      <% end %>
    </ul>
    <div id="menuToggle">
      <ul>
        <li><%= link_to "New Biz", new_biz_path %></li>
        <li><%= link_to "Add Review", new_review_path %></li>
        <li><%= link_to "Discounts/Specials", biz_index_path(:offer_discounts => 'true') %></li>
      </ul>
    </div>
  </nav>
</header>
